.form {
	width: 100%;
	input,textarea,select {
		font-size: 1em;
		border-radius: 2px;
		-moz-border-radius: 2px;
		border: 1px solid #CCC;
		padding: 5px 8px;
		margin: 5px 10px 5px 0;
		&:hover, &:focus {
			outline: 0;
			border: 1px solid #AAA;
		}
	}
	select {
		box-sizing: content-box;
	}
}