


/* GRID */


*{
	margin:0;
	padding:0;
	font-family:$font;
}

.container{
	width: $container-width;
	margin:0 auto;
}

.pull-left{
	float:left;
}

.pull-right{
	float:right;
}

.row{
	min-height: 2em;
	line-height:2em;
	width:100%;
}

.span{
	float:left;
	display:inline;
	min-height:1em;
	margin:0 2% 20px 2%;
	&:first-child{
		margin-left:0;
	}
	&:last-child{
		margin-right:0;
	}
}

.one{
	width:8%;
}

.two{
	width:18%;
}

.three{
	width:28%;
}

.four{
	width:38%;
}

.five{
	width:48%;
}

.six{
	width:58%;
}

.seven{
	width:68%;
}

.eight{
	width:78%;
}

.nine{
	width:88%;
}

.ten{
	width:100%;
}

.container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.row:before,.row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.row:after {
	clear: both;
}

.row {
	zoom: 1;
}