


/* NAVBAR */

.navbar{
	background:#FFF;
	padding:10px;
	margin-bottom:10px;
	border-bottom:1px #DDD solid;
	height:30px;
	h4{
    color:$black;
    font-weight:200;
  }
	li{
		display:inline-block;
		padding:.3em 15px 0 0;
		&:last-child{
			padding-right:0;
		}
	}
	&.fixed{
		position:fixed;
		left:0;
		right:0;
		top:0;
	}
}
