
/* RESPONSIVE */

@media only screen and (min-width: 768px) and (max-width: 999px) {
	.container{
		width:768px;
	}
}

@media only screen and (max-width: 767px) {
.container{
	width: 100%;
	margin:0;
	   .table{
	      width:auto;
	      display:table;
	      overflow: auto;
	     margin-left: auto;
            margin-right: auto;
            
	   }
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container{
		width:100%;
		.table{
			display:table;
		}
	}
}
