

/* VARIABLES */

/* Defaults */

$font: "Helvetica Neue", Arial, sans-serif;


/* Colors */

$black: #191919;
$primary:	#008AE6;
$success: #43BA66;
$danger: #EA0202;


/* Widths */

$container-width: 1000px;
